<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 목록</title>
</head>
<body>
  <h3>상품 목록</h3>
  <hr />
  <table>
  	<tr>
  		<th>상품 번호</th>
  		<th>식물 번호</th>
  		<th>식물명</th>
  		<th>재고량</th>
  		<th>가격</th>
  		<th>등록일자</th>
  	</tr>
  	<tr th:each="product : ${pList}">
  		<td ><a href="/product/productDetail" th:href="|/productDetail/${product.pid}|" th:text="${product.pid}"></a></td>
  		<td th:text="${product.ppnum}"></td>
  		<td th:text="${product.pname}"></td>
  		<td th:text="${product.pstock}"></td>
  		<td th:text="${product.pprice}"></td>
  		<td th:text="${product.pdate}"></td>
  	</tr>
  </table>
</body>
</html>