@charset "UTF-8";

/* 마포꽃섬 폰트적용 */
/* font-family: 'MapoFlowerIsland'; 으로 사용가능 */
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  /* 바디에 그리드 적용 */
  body{
    display: grid;
    justify-content: center;
  }

  /* header 시작 */
  /* header안에 div.header_top, div.header_title 존재 */
  header{
    width: 1000px;
    height: 250px;
  }

  /* header안에 div.header_top안에 button#header_login, button#header_join 존재  */
  div.header_top{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto; /* 여기 가로가 100px 이라서 이미지에 50px하니까 공백생김 따라서 이미지랑 맞춰줘야함*/
    justify-content: end;
    gap: 10px;
    text-align: center;
  }
  a#header_login, a#header_join{
    font-family: 'NanumSquare';
  }
   a#header_login:hover, a#header_join:hover{
   text-decoration: underline;
  }
  
  /* header안에 div.header_title 존재  */
  div.header_title{
    width: 300px; height: 150px;
    margin: 0 auto;
  }
  div.header_title>img#header_logo{
    width: 100%; height: 100%;
  }
  
  div.nav_all_container{
    width: 1000px;
  }

  /* nav 시작 */
  nav{
    width: 1000px;
  }

	ul,li{
	    list-style: none;
	    padding: 0;
	}
	a{ text-decoration:none;}
	
	ul.depth1{
	    display: grid;
	    grid-template-columns: repeat(2, 100px);
	    justify-content: center;
	    text-align: center;
	    gap: 0 200px;
	    margin-bottom: 30px;
	}
	
	.global-wrap .gnb .item a {
	    display:block;
	    font-family: 'NanumSquare';
	    font-size: 25px;
	    text-align: center;
	    color: black;
	  }
	
	.global-wrap .gnb .depth2 .item a {
	    display:block;
	    font-family: 'NanumSquare';
	    font-size: 20px;
	    text-align: center;
	    color: black;
	  }
	
	.global-wrap .gnb .depth1 > .item{
	    position:relative;
	  }
	  
	.global-wrap .gnb .depth1 > .item:hover{
	    color: white;
	    text-decoration: underline;
	  }
	.global-wrap .gnb .depth1 > .item:hover .depth2{
	    display:block;
	    position:absolute;
	    background-color: white;
	    border:1px solid black;
	    /* transition: all .5s ease-out; */
	  }
	.global-wrap .gnb .depth2 {
	    display:none;
	    width:100%;
	  }
	.global-wrap .gnb .depth2 > .item:hover a{
	    color: green;
	    font-weight: bolder;
	  }

  /* footer 시작 */
  footer{
    width: 1000px;
  }
  div.footer{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 350px;
    gap: 30px;
    margin-top: 30px;
  }
  img#footerImg{
    width: 200px; height: 130px;
  }

  ul#footer_info{
    list-style-type: none;
    margin-top: 0; margin-bottom: 0;
    padding: 0;
  }