<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/fragment/fragment_header :: fragment_headBlock"></th:block>
  
  <link rel="stylesheet" href="/css/member/joinDisplayCss.css">
  
  <title>회원가입</title>
</head>
<body>
	<header th:replace="/fragment/fragment_header :: fragment_header"></header>
	
 	<nav th:replace="/fragment/fragment_nav :: fragment_nav"></nav>
 	
	<div class="joinDisplay_container">
	  <div class="joinDisplay_joinWhereGarden">
	    <p>어딜, 가든 회원가입</p>
	    <button id="joinBtn" onclick="javascript:location.href='/member/joinFormPage'" style="cursor:pointer">회원가입</button>
	  </div>
	  <hr>
		<div class="joinDisplay_joinSns">
		  <p>SNS 간편 회원가입</p>
		  <button id="googleBtn"><img src="/img/member/googleLoginBtn.PNG" alt="구글으로 가입하기"></button>
		  <button id="naverBtn"><img src="/img/member/naverLoginBtn.PNG" alt="네이버로 가입하기"></button>
		  <button id="kakaoBtn"><img src="/img/member/kakaoLoginBtn.PNG" alt="카카오로 가입하기"></button>
		</div>
	</div>
	
	<footer th:replace="/fragment/fragment_footer :: fragment_footer"></footer>

</body>
</html>