<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <th:block th:replace="/fragment/fragment_header :: fragment_headBlock"></th:block>
  
  <link rel="stylesheet" href="/css/member/loginCss.css">
  <style>
  	.errorBox{
  		margin: 0;
  		border:1px solid red;
  		outline:1px solid red;
  	}
  	.errorMsg{
  		margin-top: 0; margin-bottom: 10px;
  		color: red;
  		font-weight:bold; font-size: small;
  		text-align: right;
  	}
  </style>
  <title>로그인</title>
</head>
<body>
	<header th:replace="/fragment/fragment_header :: fragment_header"></header>
	
 	<nav th:replace="/fragment/fragment_nav :: fragment_nav"></nav>

	<div class="loginPage_container">
	  <div class="loginPage_whereGardenLogin">
	    <p id="loginPage_loginTitle">로그인</p>
	    <form th:action="@{/login}" th:method="post" th:object="${loginForm}">
	      <input type="text" id="loginPage_Mid" placeholder="아이디를 입력하세요" th:field="*{lid}" th:errorclass="errorBox">
	      <p th:if="${#fields.hasErrors('lid')}" th:errors="*{lid}" th:errorclass="errorMsg"></p>
	      <input type="password" id="loginPage_Mpw" placeholder="비밀번호를 입력하세요" th:field="*{lpw}"  th:errorclass="errorBox">	      
	      <p th:if="${#fields.hasErrors('lpw')}" th:errors="*{lpw}" th:errorclass="errorMsg"></p>
	      <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:errorclass="errorMsg">글로벌오류=오브젝트레벨의 오류</p>
	    <div class="loginLink">
	      <a href="">아이디찾기</a> <a href="">비밀번호찾기</a> <a href="">회원가입</a> 
	    </div>
	    <button id="loginPage_joinBtn" type="submit">로그인</button>    
	    </form>
	  </div>
	  <hr>
	    <div class="loginPage_snsLogin">
	      <p id="loginPage_snsLoginTitle">SNS 계정 로그인</p>
	      <button id="googleBtn"><img src="/img/member/googleLoginBtn.PNG" alt="구글으로 로그인"></button>
	      <button id="naverBtn"><img src="/img/member/naverLoginBtn.PNG" alt="네이버로 로그인"></button>
	      <button id="kakaoBtn"><img src="/img/member/kakaoLoginBtn.PNG" alt="카카오로 로그인"></button>
	    </div>
	</div>
  
	<footer th:replace="/fragment/fragment_footer :: fragment_footer"></footer>
	
</body>
</html>