<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <title>어딜, 가든</title>
</head>

<body>

  <nav class="global-wrap" th:fragment="fragment_nav">
        <div class="gnb">
            <ul class="depth1">
                <li class="item">
                    <a th:href="@{/plant/list}" >식물찾기</a>
                </li>
                <li class="item">
                    <a th:href="@{/board/boardList(category=자유게시판)}">커뮤니티</a>
                    <ul class="depth2">
                        <li class="item"><a th:href="@{/board/boardList(category=자유게시판)}">자유게시판</a></li>
                        <li class="item"><a th:href="@{/board/boardList(category=QnA)}">QnA</a></li>  
                    </ul>
                </li>
            </ul>
        </div>
  </nav>
  
</body>
</html>