<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/board/boardList.css">
</head>
<body>
  <div class="plantList">
    <div th:each="plant : ${plantList}" class="plant" >
      <i class="far fa-heart" style="display: block;"></i>
      <i class="fas fa-heart" style="display: none;"></i>
      <a href=""  th:href="@{|/plant/${plant.PNUM}/|}" >
      <img class="product-img" th:src="${plant.PIMGURL}" alt=""></a>
      <div th:text="${plant.PNAME}" class="pname">선인장1</div>
    </div>  
  </div>
 </div> 	
</body>
</html>