<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 장바구니</title>
  <th:block th:replace="/fragment/fragment_header :: fragment_headBlock"></th:block>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main/main.css">
  <style>
  	*{
  		font-family:NanumSquare;
  	}
     .row{
        display: grid;
        grid-template-columns: 50px 160px 140px 200px 160px 100px;
        grid-template-rows: auto;
        gap: 10px;
     }
     #p_num1{
        width: 100px;
     }
     #orderBtn{
     	border: 1px solid black;
     	background-color: transparent;
     }
     #allBtn{
     	border: 1px solid black;
     	color:black;
     	padding: 6px 1px;
     }
  </style>
  
  <script src="/js/common/ajaxCall.js" defer></script>
  <script src="/js/cart/cartList.js" th:inline="javascript" defer></script>
</head>
<body>
   <header th:replace="/fragment/fragment_header :: fragment_header"></header>
   
    <nav th:replace="/fragment/fragment_nav :: fragment_nav"></nav>
   <main>  
     <h3>내 장바구니</h3>
     <hr />
     <form th:action="@{/order/form}" id="orderForm" class="orderForm" th:method="post">
        <div class="basketdiv" id="basket">
           <div class="row head" >
              <input type="checkbox" id="cartChk" value="null" onclick="selectAll(this)" />
              <div>상품번호(상품명)</div>
              <div>가격</div>
              <div>수량</div>
              <div>합계</div>
              <div></div>
           </div>
           
           <div class="row data" th:each="cList,idx : ${foundCartList}">
              <input type="hidden" th:value="${cList.cpid}" th:name="|orderDetails[${idx.index}].odpid|"/>
              <input type="checkbox" name="product" th:value="${cList.cnum}" />
              <input type="text" th:value="${cList.cpname}" th:name="|orderDetails[${idx.index}].odpname|" readonly="readonly"/>
              <input type="text" th:value="${cList.cprice}" readonly="readonly"/>
              <input type="number" min=1 th:value="${cList.cqty}" th:name="|orderDetails[${idx.index}].odqty|"
                        class="cartNum" 
                        th:data-idx="${idx.index}"
                          th:data-cmid="${cList.cmid}"
                          th:data-cpid="${cList.cpid}"
                          th:data-cnum="${cList.cnum}"
                          th:data-cprice="${cList.cprice}">
              <input id="sum" type="text" th:value="${cList.cprice}*${cList.cqty}" th:name="|orderDetails[${idx.index}].odsum|" readonly="readonly"/>
              <button type="button" class="delBtn" th:id="${cList.cnum}" th:data-cnum="${cList.cnum}">삭제</button>
           </div>
           <div>
                 <button type="submit" class="btn btn-light" id="orderBtn">선택상품주문</button>
                 <button type="submit" class="btn btn-light" id="allBtn">전체상품주문</button>
                 <label for="">총 합계 : </label> <input type="text" id="allSum" readonly="readonly"/>
           </div>
        </div>
     </form>
    </main>
    <footer th:replace="/fragment/fragment_footer :: fragment_footer"></footer>
    
</body>
</html>