<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/fragment/fragment_header :: fragment_headBlock"></th:block>
  
  <link rel="stylesheet" href="/css/main/main.css">
    
  <title>어딜, 가든</title>
</head>

<body>
	<header th:replace="/fragment/fragment_header :: fragment_header"></header>
	
 	<nav th:replace="/fragment/fragment_nav :: fragment_nav"></nav>
  	
	<section class="section1">
      <img src="/img/main/garden.png" alt="" id="sec1_img">
      <div class="sec1_explane">
        <h2>안녕하세요 어딜, 가든입니다! </h2>
        <h3>저희는 어디든지 가든(정원)으로 만들 수 있게 정보를 제공해주는 사이트입니다!<br>
        어딜, 가든에서 다양한 반려식물의 정보를 얻고 이쁘게 키워보세요 : )</h3>
      </div>
    </section>
    <hr>
  
    <section class="section2">
      <div class="sec2_title">
        오늘의 꽃
      </div>
      <div class="sec2_todayFlowerContainer">
        <div class="sec2_todayFlower">
          <img src="https://picsum.photos/250/250" alt="">
            <h3>무궁화꽃</h3>
        </div>
        <div class="sec2_todayFlowerInfo">
          <li>1번설명</li>
          <li>2번설명</li>
          <li>3번설명</li>
          <li>4번설명</li>
          <li>5번설명</li>
        </div>
      </div>
      <hr/>
    </section>
  
    <section class="section3">
      <div class="sec3_title">현재 가장 많은 관심을 받은 식물이에요!</div>
      <div class="sec3_container">
        <ul class="sec3_flowerList">
          <li>
            <img src="https://picsum.photos/150/150" alt="">
              <h3>꽃1</h3>
              <p>꽃말 : ~~~</p>
              <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃2</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃3</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃4</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃5</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃6</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃7</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
          <li>
            <img src="https://picsum.photos/150/150" alt="">
            <h3>꽃8</h3>
            <p>꽃말 : ~~~</p>
            <p>관심횟수 : ~번</p>
          </li>
        </ul>
      </div>
    </section>
    
	<footer th:replace="/fragment/fragment_footer :: fragment_footer"></footer>
  
</body>
</html>