@charset "UTF-8";

div.boardList_allContainer{
  display: grid;
  grid-template-rows: auto auto;
  gap: 50px;
}

div.Board_menu{
	text-align: center;
}

th#freeBoardTitle{
  width:300px;
}
button#freeBoardWriteBtn{
  width:100px;
}
.wrap-freeBoard-btns{
  width: 1000px;
  text-align: right;
}

nav#pasingBox{
  width: 1000px;
  display:flex;
  justify-content: center;
}