@charset "UTF-8";
h1.title{
	justify-content: center;
	color: green;
	text-align: center;
}
main{
display:grid;
justify-content: center;
}

form{
border: 1px solid grey;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-left: 300px;
}
 form .form-control{
  width: 100%;
  }
  .addBtn{
  background-color: burlywood;
  height:38px;
  }
.button{
	text-align: center;
	margin-top:10px;
}
