@charset "UTF-8";
h1.title{
	justify-content: center;
	color: green;
	margin-left:60px
}
main{
display:flex;
justify-content: center;
}

form{
border: 1px solid grey;
  width: 300px;
  padding-left: 30px;
  padding-bottom: 10px;
}
.button{
	margin-top:10px;
	margin-left:90px;
}
#sample4_roadAddress, #sample4_detailAddress {
	width: 200px;
}