@charset "UTF-8";

.infopw{
	display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid grey;
    height: 270px;
    width: 600px;
    padding-top: 30px;
    margin-left: 320px;
}
.pw{
	font-size: 40px;
	color: darkcyan;
}
.form-control{
	text-align:center; 
	display:block; 
	margin: 0 auto;

}
#mpw{
	margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    font-size: 30px;
}

#Btn{
	width: 150px;
    height: 40px;
    font-size: 15px;
}
/**
바디에 그리드 적용
body{
  display: grid;
  justify-content: center;
}
header~footer까지 감싸는 컨테이너
div.all_container{
  width: 1000px;
}
aside
.aside{
  background-color: #e4e65e;
  list-style-type: none;
  width: 250px;
  height: 100%;
  display: grid;
  margin:0;
  padding: 0;
  float:left;
  
  
}
.aside a{
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.mylist a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


header 시작
header안에 div.top, div.title 존재
header{
  width: 100%;
  height: 150px;
  margin-bottom: 120px;
}
header안에 div.top안에 img#user, img#shopping_basket 존재 
div.top{
 width: 100%;
  display: block;
  height: 50px;
  margin-bottom: 20px;
 text-align: right;
  grid-template-columns: 120px; 여기 가로가 100px 이라서 이미지에 50px하니까 공백생김 따라서 이미지랑 맞춰줘야함
  gap: 0 10px;
  justify-content: end;
  float:left;
	
}

.dropbtn {
    background-color: white;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  .dropdown-content {
	 display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #3e8e41;
}
.top a{
	text-decoration:none
}
.login a{
	text-decoration-line : none;
}
i#user, i#shopping_basket{
  font-size: 30px;
  color:grey;
}
header안에 div.title 존재 
div.title{
  width: 300px; height: 150px;
  margin: 0 auto;
}
a>img#title{
  width: 100%; height: 100%;
}

nav 시작
nav안에 div.menu_container 존재
div.menu_container{
  height: 30px;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: center;
  gap: 0 250px;
  margin-bottom: 30px;
}
nav안에 div.menu_container안에 div.find, div.community 존재
div.find, div.community{
  font-family: 'NanumSquare';
  font-size: 25px;
  text-align: center;
}

section1 시작
section1안에 img와 div.explane의 배치를 rows로 높이 설정
section.section1{
  width: 100%; height: 520px;
  display: grid;
  grid-template-rows: 350px 150px;
  gap: 20px 0; height = rows + gap 이렇게 계산 안하면 밑으로 삐져나옴
  margin-top: 50px;
}
img#sec1_main{
  width: 100%; height: 100%;
}
div.sec1_explane{
  width: 100%; height: 100%;
  text-align: center;
}

section2 시작
section2안에 sec2_title와 sec2_container의 배치를 rows로 높이 설정
section.section2{
  width: 100%; height: 380px;
  display: grid;
  grid-template-rows: 30px 300px;
  gap: 20px 0;
  margin-top: 50px;
}
div.sec2_title{
  width: 100%; height: 100%;
  font-family: 'NanumSquare';
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}
section2안에 sec2_container의 배치를 rows로 높이 설정
div.sec2_todayFlowerContainer{
  width: 100%; height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px 0;
}

div.sec2_todayFlower{
  margin: 0 auto;
}
div.sec2_todayFlower>h3{
  text-align: center;
}

div.sec2_todayFlowerInfo>li{
  margin-bottom: 20px;
}

section3 시작
section.section3{
  width: 100%; height: 730px;
  display: grid;
  grid-template-rows: 30px 650px;
  gap: 50px 0;
  margin-top: 70px;
}
div.sec3_title{
  width: 100%; height: 100%;
  font-family: 'NanumSquare';
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}
div.sec3_container{
  width: 100%; height: 100%;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.sec3_flowerList{
  width: 100%; height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
ul.sec3_flowerList li{
  text-align: center;
}

footer 시작
footer{
  width: 100%; height: px;
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 400px;
  gap: 30px;
}
img#footerImg{
  width: 200px; height: 130px;
} */